.main{
    height: 640px;
    border: 3px solid black;
    display: flex;
    flex-flow: column;
    background-color: #e9f7f7;
}
.first-main{
    height: 100px; 
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.inner-1{
    border: 3px solid black;
    height: 80px;
    width: 200px;
    background-color: #a6e0dd;
    text-align: center;
    
}
.inner-2{
    border: 3px solid black;
    height: 80px;
    width: 200px;
    background-color: #a6e0dd;
    text-align: center;
}
.second-main{
    height: 170px; 
    border: 3px solid black;
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    flex-flow: column;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    text-align: center;
    background-color: #a6e0dd;

}
.third-main-div{
    border: 3px solid black;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: -20px;
    background-color: #a6e0dd;
}
.third-main{
    height: 180px; 
    /* border: 3px solid black; */
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.inner-3{
    /* border: 3px solid black; */
    height: 130px;
    width: 300px;
    text-align: center;
    padding: 30px;
    background-color: #20b2ab81;
    margin-top: -30px;
}
.inner-4{
    /* border: 3px solid black; */
    height: 130px;
    width: 300px;
    text-align: center;
    padding: 30px;
    background-color: #20b2ab81;
    margin-top: -30px;
}
.inner-5{
    /* border: 3px solid black; */
    height: 130px;
    width: 300px;
    text-align: center;
    padding: 30px;
    background-color: #20b2ab81;
    margin-top: -30px;
}
.text-div{
    display: flex;
    align-items: center;
    justify-content: center;
}